services:
  cloudflared:
    image: cloudflare/cloudflared:latest
    restart: always
    depends_on:
      nginx:
        condition: service_healthy
    command:
      [
        "tunnel",
        "--no-autoupdate",
        "run",
        "--token-file",
        "/run/secrets/cloudflared_token",
        "--url",
        "http://nginx:80",
      ]
    volumes:
      - ./.secrets/tunnel_token.txt:/run/secrets/cloudflared_token:ro
    networks:
      - lab
